<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>ng-if</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<script src="../js/angular.min.js"></script>
	<script src="../js/ui-bootstrap-tpls-0.13.1.min.js"></script>
</head>
<body>

<div id="myApp" data-ng-app="myApp">
	<div data-ng-controller="myCtrl">
		<div>There are {{ nm.length }} names</div>
		<ul data-ng-repeat="nm in name">
			<li>{{ nm }}</li>
		</ul>

		<div>Only the one starting with B is shown</div>
		<ul data-ng-repeat="nm in name">
			<li data-ng-if="nm[0] == 'B'">{{ nm }}</li>
		</ul>

		<p><input type="text" placeholder="Type name" data-ng-model="selectname"><p>
		<ul data-ng-repeat="nm in name | filter: selectname">
			<li>{{ nm }}</li>
		</ul>
	</div>
</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.name = ['Bob', 'Ron', 'Tim'];
	});
</script>

</body>
</html>