<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Validations</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<script src="../js/angular.min.js"></script>
	<script src="../js/ui-bootstrap-tpls-0.13.1.min.js"></script>
</head>
<body>

<div id="myApp" data-ng-app="myApp" class="container">
	<form name="myform" novalidate data-ng-controller="myCtrl">

		<div class="row">
			<label for="user">User:</label>
			<input type="text" name="user" id="user" data-ng-model="user" required>
			<span style="color:red" data-ng-show="myform.user.$dirty && myform.user.$invalid">
				<span data-ng-show="myform.user.$error.required">Username is required</span>
			</span>
		</div>

		<div class="row">
			<label for="email">Email:</label>
			<input type="email" name="email" id="email" ng-model="email" required>
			<span style="color:red" ng-show="myform.email.$dirty && myform.email.$invalid">
				<span ng-show="myform.email.$error.required">Email is required.</span>
				<span ng-show="myform.email.$error.email">Invalid email address.</span>
			</span>
		</div>

		<div class="row">
			<input type="submit" name="submit" id="submit" class="btn btn-primary"
					data-ng-disabled="myform.user.$dirty && myform.user.$invalid ||
					myform.email.$dirty && myform.email.$invalid">
		</div>

	</form>
</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.user = '';
		$scope.email = '';
	});
</script>

</body>
</html>
