<!doctype html>
<html>
<head>
	<title>Temperature conversion</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Temperature conversion</h1>
		</div>
		<div data-ng-app="myApp" data-ng-controller="MainController">

			<div>
				<span id="randomTemperature" data-ng-bind="randomTemperature"></span>
				<span id="randomUnit" data-ng-bind="randomUnit"></span>
				is
				<input type="text" data-ng-model="answer">
				<span data-ng-bind="inverseRandomUnit"></span>
				<button type="button" data-ng-click="checkAnswer()">Submit</button>
				<span data-ng-bind="answer"></span>
				<div data-ng-bind="alert"></div>
			</div>

		</div>
	</div>

	<script src="js/shared/angular.min.js"></script>
	<script src="js/shared/ui-bootstrap-tpls-0.13.1.min.js"></script>
	<!-- Modules -->
	<script src="js/app.js"></script>
	<!-- Controllers -->
	<script src="js/controllers/MainController.js"></script>
</body>
</html>