<!doctype html>
<html>
<head>
	<title>Temperature conversion</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Temperature conversion</h1>
		</div>
		<div data-ng-app="myApp" data-ng-controller="MainController">
			<form name="temperatureForm" method="post">
				<div>
					<span id="randomTemperature" data-ng-bind="temperature.randomTemperature"></span>
					<span id="randomUnit" data-ng-bind="temperature.randomUnit"></span>
					is
					<label for="answer"></label>
					<input type="text" id="answer" data-ng-model="temperature.answer">
					<span data-ng-bind="temperature.inverseRandomUnit"></span>
					<button type="button" data-ng-click="checkAnswer()">Submit</button>
					<button type="button" data-ng-click="reset(temperature)">Reset</button>
					<div data-ng-bind="temperature.result"></div>
					<div data-ng-bind-html="temperature.alert"></div>
				</div>
			</form>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.2/ui-bootstrap-tpls.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/MainController.js"></script>
</body>
</html>